:host {
  background-color: #210613;
  color: #fffff5;
  display: block;
}

h2 {
  color: #fffff5;
}

.list-group-item {
  background-color: #2d0b1a;
  color: #fffff5;
  border-color: #3e0f21;
}

.badge.bg-warning {
  background-color: #ffd700;
  color: #210613;
}
