h2 {
  text-align: center;
  color: #fffff5;
}

:host {
  background-color: #121212;
  color: #fffff5;
  display: block;
}

.list-group-item {
  background-color: #1e1e1e;
  color: #fffff5;
}

.form-control,
.form-select {
  background-color: #1e1e1e;
  color: #fffff5;
  border: 1px solid #fffff5;
}

.form-control::placeholder,
.form-select::placeholder {
  color: #fffff5;
}
