.btn-outline-warning {
    display: flex;
    -ms-flex-align: end;
}

:host {
  background-color: #210613;
  color: #fffff5;
  display: block;
}

.card {
  background-color: #2d0b1a;
  color: #fffff5;
  border: none;
}

label {
  color: #fffff5;
}

input.form-control,
textarea.form-control {
  background-color: #2d0b1a;
  color: #fffff5;
  border: 1px solid #fffff5;
}

input:focus,
textarea:focus {
  border-color: #ffd700;
  box-shadow: none;
}
