<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow p-4 rounded">
        <h2 class="text-center mb-4">Editar Contato</h2>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-md-6">
              <label><strong>Nome *</strong></label>
              <input type="text" class="form-control" formControlName="nome" required />
            </div>

            <div class="col-md-6">
              <label><strong>Categoria *</strong></label>
                 <select class="form-select" formControlName="categoria" required>
                  <option value="">Selecione uma categoria</option>
                 <option *ngFor="let c of categories" [value]="c.nome">{{ c.nome }}</option>
               </select>
            </div>


            <div class="col-md-6">
              <label><strong>Telefone *</strong></label>
              <input type="text" class="form-control" formControlName="telefone" required />
            </div>

            <div class="col-md-6">
              <label>Telefone Fixo</label>
              <input type="text" class="form-control" formControlName="telefoneFixo" />
            </div>

            <div class="col-md-6">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="email" />
            </div>

            <div class="col-md-6">
              <label>Endereço</label>
              <input type="text" class="form-control" formControlName="endereco" />
            </div>

            <div class="col-md-6">
              <label>Aniversário</label>
              <input type="date" class="form-control" formControlName="aniversario" />
            </div>

            <div class="col-md-6">
              <label>Rede Social</label>
              <input type="text" class="form-control" formControlName="redeSocial" />
            </div>

            <div class="col-md-6">
              <label>Empresa</label>
              <input type="text" class="form-control" formControlName="empresa" />
            </div>

            <div class="col-md-6">
              <label>Cargo</label>
              <input type="text" class="form-control" formControlName="cargo" />
            </div>

            <div class="col-12">
              <label>Observação</label>
              <textarea rows="3" class="form-control" formControlName="observacao"></textarea>
            </div>

            <div class="col-12 d-flex justify-content-between align-items-center mt-3">
              <button type="button" class="btn btn-outline-secondary" (click)="goBack()">
                Voltar
              </button>

              <button type="button" class="btn btn-outline-warning ms-auto me-2" (click)="toggleFavorito()">
                {{ contactForm.get('favorito')?.value ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos' }}
              </button>

              <button type="submit" class="btn btn-outline-success" [disabled]="!contactForm.valid">
                Salvar Alterações
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
