.footer {
  background-color: #210613;
  color: #fffff5;
  text-align: center;
  padding: 0.5rem;
  position: fixed; /* de relative para fixed */
  bottom: 0;
  left: 0;          /* importante para fixar no canto esquerdo */
  width: 100%;
  z-index: 1000;    /* para ficar sobre outros elementos */
}
